html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  background-image: url("mountain-sky-opt.jpg");
  background-size: cover;
  background-position: 30% 50%;

  min-height: 100%;
  
  font-family: "Helvetica", "Verdana", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  color: white;
  text-align: center;
}

.links {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}